{% extends 'base.html' %}  
{% load static %}
{% block title %}Hakkımızda Sayfa{% endblock title %}
{% block content %}
 <!--========== PROMO BLOCK ==========-->
 <div class="g-fullheight--md js__parallax-window" style="background: url({% static 'img/1920x1080/08.jpg' %}) 50% 0 no-repeat fixed;">
    <div class="g-container--md g-text-center--xs g-ver-center--md g-padding-y-150--xs g-padding-y-0--md">
        <div class="g-margin-b-60--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Bizi Yakından Tanıyın</p>
            <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white g-letter-spacing--1">Çakırtaş Şirketler Grubu</h1>
        </div>
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->
{% include 'particial/blocks/_about.html' %}

<!--========== PAGE CONTENT ==========-->
<!-- About -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
    <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-40--xs g-margin-t-40--xs g-margin-b-100--md">
        <div class="col-sm-3 col-xs-6 g-hor-centered-row__col">
            <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                <img class="img-responsive" src="{% static 'img/400x500/05.jpg' %}" alt="Image">
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
            <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                <img class="img-responsive" src="{% static 'img/400x550/01.jpg' %}" alt="Image">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 g-hor-centered-row__col">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Gıda ve Akaryakıt</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Carrefour SA - Hypco</h2>
            <div class="col-md-offset-1">
                <p>Gıda ve Hizmet Sektörünün öncüsü Süper marketler zinciri CARREFOUR SA ile yaptığımız
                    iş ortaklığı sonucunda Başakşehir'de faaliyetine devam eden Carrefour SA Süper Marketimiz 
                    ile Başakşehir Çam ve Sakura Hastanesi Çocuk acil giriş kısmında bulunan 
                    işletmemizde faaliyetlerimize aralıksız devam etmekteyiz. Gıda ve hizmet sektüründe öncü ÇAKIRTAŞ ŞİRKETLER GRUBU 
                    yeni işletmeler ile büyümeye ve ülkenin katmadeğerine fayda sağlamaya devam etmektedir.</p>   
            </div>
        </div>
    </div>
    <hr>
    <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-40--xs g-margin-t-40--xs g-margin-b-100--md">
        <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col">
            <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s">
                <img class="img-responsive" src="{% static 'img/400x550/02.jpg' %}" alt="Image">
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
            <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".1s">
                <img class="img-responsive" src="{% static 'img/400x500/06.jpg' %}" alt="Image">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Cafe ve Restaurant</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Hacıoğlu - Sarıyer Börek</h2>
            <div class="col-md-offset-1">
                <p>Hacıoğlu Pide, Lahmacun ve Kahvaltı salonlarımız ile Sarıyer Börek işletmelerimiz faaliyetlerini sürdürmektedir. Bu iki özel marka ile iş ortaklığımız ile Çakırtaş Şirketler Grubu büyümeye devam etmektedir.</p>   
            </div>
        </div>
    </div>
    <hr>
    <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-40--xs g-margin-t-40--xs">
        <div class="col-sm-3 col-xs-6 g-hor-centered-row__col">
            <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                <img class="img-responsive" src="{% static 'img/400x550/06.jpg' %}" alt="Image">
            </div>
        </div>
        <div class="col-sm-3 col-xs-6 g-hor-centered-row__col g-margin-b-60--xs g-margin-b-0--md">
            <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                <img class="img-responsive" src="{% static 'img/400x500/07.jpg' %}" alt="Image">
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 g-hor-centered-row__col">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Cafe ve Restaurant</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Vm Cafe - Sakura Cafe</h2>
            <div class="col-md-offset-1">
                <p>Gıda ve Hizmet Sektörünün öncüsü Süper marketler zinciri CARREFOUR SA ile yaptığımız
                    iş ortaklığı sonucunda Başakşehir'de faaliyetine devam eden Carrefour SA Süper Marketimiz 
                    ile Başakşehir Çam ve Sakura Hastanesi Çocuk acil giriş kısmında bulunan 
                    işletmemizde faaliyetlerimize aralıksız devam etmekteyiz. Gıda ve hizmet sektüründe öncü ÇAKIRTAŞ ŞİRKETLER GRUBU 
                    yeni işletmeler ile büyümeye ve ülkenin katmadeğerine fayda sağlamaya devam etmektedir.</p>   
            </div>
        </div>
    </div>
</div>
<!-- End About -->

{% endblock content %}
