{% extends 'base.html' %}  
{% load static %}
{% block title %}{{proje.seotitle}}{% endblock title %}
{% block description %}{{proje.seodescription}}{% endblock description %}
{% block content %}
   <!--========== PROMO BLOCK ==========-->

   <div class="js__parallax-window" style="background: url({{proje.image1.url}}) 50% 0 no-repeat fixed;">
    <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
        <div class="g-margin-b-60--xs">
            <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-70--md g-color--white g-letter-spacing--1 g-margin-b-30--xs">{{proje.title|title}}</h1>
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2">{{proje.category|title}}</p>
        </div>
        <a href="#js__scroll-to-section">
            <span class="s-icon s-icon--md s-icon--white-brd g-radius--circle ti-angle-double-down"></span>
        </a>
    </div>
</div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Ana Sayfa</a></li>
      <li class="breadcrumb-item"><a href="{% url 'proje' %}">Faaliyet Alanları</a></li>
      <li class="breadcrumb-item active" aria-current="page">İşletme Detayı</li>
    </ol>
  </nav>

        <!--========== PAGE CONTENT ==========-->
        <!-- FA Questions Text -->
        <div id="js__scroll-to-section" class="g-container--md g-padding-y-30--xs g-padding-y-50--sm">
            <h2 class="g-font-size-32--xs g-font-size-36--md g-text-center--xs g-margin-b-80--xs">{{proje.title|title}}</h2>
            <div class="g-text-center--xs">
                <p class="g-margin-b-5--xs">{{proje.description|safe}}</p>
            </div>
        </div>
        <!-- End FA Questions Text -->
  <!-- Portfolio Gallery -->
  <div class="container g-margin-b-100--xs">
    <div id="js__grid-portfolio-gallery" class="cbp">
        <!-- Item -->
        <div class="s-portfolio__item cbp-item logos motion">
            <div class="s-portfolio__img-effect">
                <img src="{{proje.image1.url}}" alt="Portfolio Image">
            </div>
            <div class="s-portfolio__caption-hover--cc">
                <div class="g-margin-b-25--xs">
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Büyük Resim</h4>
                </div>
                <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                    <li>
                        <a href="{{proje.image1.url}}" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                            <i class="ti-fullscreen"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
       <!-- Item -->
       <div class="s-portfolio__item cbp-item logos motion">
        <div class="s-portfolio__img-effect">
            <img src="{{proje.image2.url}}" alt="Portfolio Image">
        </div>
        <div class="s-portfolio__caption-hover--cc">
            <div class="g-margin-b-25--xs">
                <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Büyük Resim</h4>
            </div>
            <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                <li>
                    <a href="{{proje.image2.url}}" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                        <i class="ti-fullscreen"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Item -->
          <!-- Item -->
          <div class="s-portfolio__item cbp-item logos motion">
            <div class="s-portfolio__img-effect">
                <img src="{{proje.image3.url}}" alt="Portfolio Image">
            </div>
            <div class="s-portfolio__caption-hover--cc">
                <div class="g-margin-b-25--xs">
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Büyük Resim</h4>
                </div>
                <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                    <li>
                        <a href="{{proje.image3.url}}" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                            <i class="ti-fullscreen"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Item -->      <!-- Item -->
        <div class="s-portfolio__item cbp-item logos motion">
            <div class="s-portfolio__img-effect">
                <img src="{{proje.image4.url}}" alt="Portfolio Image">
            </div>
            <div class="s-portfolio__caption-hover--cc">
                <div class="g-margin-b-25--xs">
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Büyük Resim</h4>
                </div>
                <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                    <li>
                        <a href="{{proje.image4.url}}" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                            <i class="ti-fullscreen"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Item -->
    </div>
    <!-- End Portfolio Gallery -->
</div>
<!-- End Portfolio -->
{% endblock content %}