{% extends 'base.html' %}  
{% load static %}
{% block title %}Hizemtler Sayfa{% endblock title %}
{% block content %}
 <!--========== PROMO BLOCK ==========-->
 <div class="s-promo-block-v3 g-bg-position--center g-fullheight--sm" style="background: url('{% static 'img/1920x1080/08.jpg' %}');">
    <div class="container g-ver-center--sm g-padding-y-125--xs g-padding-y-0--sm">
        <div class="g-margin-t-30--xs g-margin-t-0--sm g-margin-b-30--xs g-margin-b-70--md">
            <h1 class="g-font-size-35--xs g-font-size-45--sm g-font-size-50--lg g-color--white">Çakırtaş<br>Şirketler Grubu</h1>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-push-4 g-margin-b-50--xs g-margin-b-0--md">
                <div class="s-promo-block-v3__divider g-display-none--xs g-display-block--md"></div>
                <div class="row">
                    <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                            <p class="g-font-size-18--xs g-color--white-opacity">Kuruluşundan bu güne kadar istikrarlı bir büyüme ve istihdam sağlayan Çakırtaş Şirketler Grubu faaliyet alanlarını genişleterek yeni iş ortaklıkları yapmaya devam ediyor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--========== END PROMO BLOCK ==========-->
       <!-- Promo Section -->
       <div class="g-promo-section">
        <div class="container g-padding-y-80--xs g-padding-y-125--sm">
            <div class="row">
                <div class="col-sm-5 col-sm-push-7">
                    <div class="g-margin-b-30--xs">
                        <h3 class="g-font-size-32--xs g-font-size-36--sm"><a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Vizyon</a></h3>
                        <p>It’s important to stay detail oriented with every project we tackle. Staying focused allows us to turn every project we complete into something we love.</p>
                    </div>
                    <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="text-uppercase s-btn s-btn--sm s-btn--primary-brd g-radius--50 g-padding-x-40--xs">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6 g-promo-section__img-right--md g-promo-section__img-left--md g-bg-position--center g-height-400--xs g-height-100-percent--md js__fullwidth-img">
            <img class="img-responsive" src="{% static 'img/970x970/01.jpg' %}" alt="Image">
        </div>
    </div>
    <!-- End Promo Section -->

    <!-- Promo Section -->
    <div class="g-promo-section">
        <div class="container g-padding-y-80--xs g-padding-y-125--sm">
            <div class="row">
                <div class="col-sm-5">
                    <div class="g-margin-b-30--xs">
                        <h3 class="g-font-size-32--xs g-font-size-36--sm"><a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Misyon</a></h3>
                        <p>Çakırtaş Şirketler Grubu sektörde en iyilerden olma yolunda emin adımlarla ilerlemektedir. Ülkemizin katma değerine sağladığı katkıların artırımak ve potansiyel </p>
                    </div>
                    <a href="s" class="text-uppercase s-btn s-btn--sm s-btn--primary-brd g-radius--50 g-padding-x-40--xs">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 g-promo-section__img-right--md g-bg-position--center g-height-400--xs g-height-100-percent--md js__fullwidth-img">
            <img class="img-responsive" src="{% static 'img/970x970/02.jpg' %}" alt="Image">
        </div>
    </div>
    <!-- End Promo Section -->
{% endblock content %}