        {% load static %}
        <!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'index' %}">Ana Sayfa</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'about' %}">Biz Kimiz?</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'proje' %}">Faaliyet Alanları</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'contact' %}">İletişim</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Twitter</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Facebook</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">İnstagram</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Linkedin</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="">Haberler</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'proje' %}">Faaliyet Alanları</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="{% url 'contact' %}">Bize Yazın</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--white">Çakırtaş Şirketler Grubu</h3>
                            <p class="g-color--white-opacity">ÇAKIRTAŞ Şirketler Grubu, bünyesindeki şirketler ve çok sayıda çalışanıyla her yıl faaliyet alanlarına yenilerini eklemektedir.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="{% url 'index' %}">
                            <img class="g-width-100--xs g-height-auto--xs" src="{% static 'img/logo.png' %}" alt="Çakırtaş Group Logo">
                        </a>
                    </div>
                    <div class="col-xs-6 g-text-right--xs">
                        <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a href="http://www.ckwebtasarim.net/">Ck Web Tasarım</a> Tarafından Tasarlanmıştır. </p>
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->