    {% load static %}
    <!-- Culture -->
     <div class="g-promo-section">
        <div class="container g-padding-y-40--xs g-padding-y-50--sm">
            <div class="row">
                <div class="col-md-3 g-margin-t-15--xs g-margin-b-60--xs g-margin-b-0--lg">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Hakkımızda</p>
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                        <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Çakırtaş</h2>
                    </div>
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                        <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md">Şirketler Grubu Kimdir?</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <p>Temelleri 1993 yılında uluslararası nakliye işleriyle atılan ÇAKIRTAŞ
                        Şirketler Grubu, 2003 yılından itibaren akaryakıt sektörüne girdikten sonra
                        kısa sürede önemli başarılara imza atarak çeşitli alanlarda büyümesini
                        sürdürmeye devam etmektedir.</p>
                        <p>ÇAKIRTAŞ Şirketler Grubu, her biri alanında dünya markası olan ulusal ve
                        uluslararası firmalarla ortaklıklar kurarak, başta gıda ve perakende market
                        hizmetleri olmak üzere inşaat, yatırım-işletme, gayrimenkul, mimarlık,
                        turizm ve hizmet sektörlerinde faaliyetlerini sürdürmektedir.</p>
                        <p>ÇAKIRTAŞ Şirketler Grubu, bünyesindeki şirketler ve çok sayıda çalışanıyla
                        her yıl faaliyet alanlarına yenilerini ekleyerek, önceliği insana, topluma ve
                        çevreye katkı sağlamak üzere uzun vadeli ilke ve hedefler çerçevesinde
                        Türkiye’nin kalkınmasıyla paralel olarak yoluna devam etmektedir.</p>   
                </div>
            </div>
        </div>
        <div class="col-sm-4 g-promo-section__img-right--lg g-bg-position--center g-height-100-percent--md">
            <img class="img-responsive" src="{% static 'img/970x970/03.jpg' %}" alt="Image">
        </div>
    </div>
    <!-- End Culture -->