 {% load static %}
 <!-- News -->
 <div class="container g-padding-y-20--xs g-padding-y-50--sm">
    <div class="g-text-center--xs g-margin-b-50--xs">
        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Mevcut İşletmeler</p>
        <h2 class="g-font-size-26--xs g-font-size-28--md">Çakırtaş Şirketler Grubu <br>faaliyet alanları</h2>
    </div>
    <div class="row">
        {% for proje in proje  %}
        <div class="col-sm-6 g-margin-b-50--xs g-margin-b-0--md">
            <!-- News -->
            <article>
                <img class="img-responsive" src="{{proje.image.url}}" alt="Image">
                <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">{{proje.marka|title}}</p>
                    <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="{% url 'proje_detail' proje.slug %}">{{proje.title|title}}</a></h3>
                    <p>{{proje.description1|safe|title}}</p>
                    <a class="btn btn-info" href='{% url 'proje_detail' proje.slug %}'>Mekanı İncele</a>
                </div>
            </article>
            <!-- End News -->
        </div>
        {% endfor %}
    </div>
</div>
<!-- End News -->